body{
    margin: 0%;
    background-color: rgb(135, 222, 212);
  
   
}
.header{
   text-align: center;
   padding: 80px;
   background-image: url(https://images.immediate.co.uk/production/volatile/sites/7/2018/02/Earth-from-space-1-64e9a7c.jpg?quality=90&resize=980,654);
  

}
h1{
    color: white;
    font-size: 80px;
    height: 20px;

   
}
h4{
    color: white;
    font-size: 20px;
    height: 5px;
   
  
   
}

.btn{
    margin-bottom: 20px;
    
   
}
.btn1{
    width: 120px;
    height: 40px;
   background-color:rgb(0, 166, 255);
   border-radius: 3px;
   outline: none;
   border: none;
   

}
.btn2{
    width: 180px;
    height: 40px;
   background-color:rgb(0, 200, 255);
   border-radius: 3px;
   

}
.btn3{
    width: 60px;
    height: 40px;
   background-color:rgb(0, 200, 255);
   border-radius: 3px;

}
.form{
    align-items: center;
}
input{
    width: 450px;
    height: 30px;
    border-radius: 20px;
    outline: none;
  
}
.fa-magnifying-glass{
  font-size: 25px;
  color: white;
   
}
#grid{
    margin-left: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
  


}
p{
    height: 100px;
    width: 200px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 4px;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    border: 5px;
    border-radius: 5px;
   
   
    background-image: url(https://assets.weforum.org/article/image/large_25NbfYbkiuMvTW3P_YO8QeE-SxtvNKGRX9Dgr6W-gNE.jpg);
}
.nocountry{
    color: antiquewhite;
    font-size: 20px;
}
#filter.length{
   
}


